<h1>Template Driven form</h1>

<form #f="ngForm" (ngSubmit)="formSubmit(f)">
    <div class="mb-3">
        <label for="username">Name</label>
        <input type="text" placeholder="Enter Name"
         class="form-control"
         ngModel
         required="true"
         minlength="5"
         #userName="ngModel"
         (change)="onChange(userName)"
         name="username">
         <div class="alert alert-danger" *ngIf="userName.touched && userName.invalid">
            <div *ngIf="userName.errors && userName.errors['required']">*This field is mandatory</div>
            <div *ngIf="userName.errors && userName.errors['minlength']">
                *Minimum {{userName.errors['minlength']['requiredLength']}} character required
            </div>
         </div>
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" placeholder="Enter email"
        required="true"
        pattern="rabiul"
        ngModel #email="ngModel"
        name="email" class="form-control">
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
            <div *ngIf="email.errors && email.errors['required']">*This field is mandatory</div>
            <div *ngIf="email.errors && email.errors['pattern']">*Enter correct email</div>
            
        </div>
    </div>
    <div class="mb-3">
        <label for="contact">Contact</label>
        <input type="tel" placeholder="Enter mobile number"
        required="true"
        minlength="10"
        ngModel #contact="ngModel"
        name="contact" class="form-control">
        <div class="alert alert-danger" *ngIf="contact.touched && contact.invalid">
            <div *ngIf="contact.errors && contact.errors['required']">*This field is mandatory</div>
            <div *ngIf="contact.errors && contact.errors['minlength']">
                *Minimum {{contact.errors['minlength']['requiredLength']}} number required
            </div>
        </div>
    </div>
    <button [disabled]="f.invalid" type="submit" class="form-control btn btn-info">Submit</button>
</form>
