<h1>Reactive Form</h1>

<form [formGroup]="reactiveForm" (ngSubmit)="formSubmit()">
    <div class="mb-3">
        <label for="username">Name</label>
        <input type="text" placeholder="Enter Name"
         class="form-control"
         formControlName="name"
         name="username"
         (change)="getFormValue()">

         <div class="alert alert-danger"
            *ngIf="reactiveForm['controls']['name']['touched'] && 
            reactiveForm['controls']['name']['invalid']">
            <div *ngIf="reactiveForm['controls']['name']['errors'] &&
             reactiveForm['controls']['name']['errors']['required']">*This field is required</div>
             <div *ngIf="reactiveForm['controls']['name']['errors'] &&
             reactiveForm['controls']['name']['errors']['minlength']">*Minimum 5 character required</div>
         </div>
         
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" placeholder="Enter email"
        formControlName="email"
        
        name="email" class="form-control">
        
    </div>
    <div class="mb-3">
        <label for="contact">Contact</label>
        <input type="tel" placeholder="Enter mobile number"
        formControlName="contact"
        name="contact" class="form-control">
       
    </div>
    <button type="submit" class="form-control btn btn-info">Submit</button>
</form>


<button (click)="navigate()">Back</button>


<button [ngStyle]="color" (click)="onClick()">Click</button>

