<!-- <h1>{{name}}</h1>
<h2>{{user.type}}</h2>
<h3 *ngFor="let d of fruitsList">{{d}}</h3> -->

<!-- <ol> -->
    <!-- Iteration is done in this way for array in type script -->
    <!-- <li *ngFor="let c of fruitsList">{{c}}</li>   
</ol> -->

<!-- <app-csk></app-csk>
<app-rcb></app-rcb> -->
<!-- <app-form></app-form>
<app-reactive-form></app-reactive-form> -->



<!-- <app-user (event)="receiveUserData($event)"></app-user>

<app-table></app-table>

 <input type="text" [(ngModel)]="subjectName" (change)="onChange()">

<h1 [ngStyle]="{'color':'red', 'font-size':'50px'}">Types of directives</h1>
<ul>
    <li *ngFor="let a of arr">
        <h1 *ngIf="a=='arnab'">{{a}}</h1>
    </li>
</ul>

<div *ngIf="isValid; else displayInfo">
    <h1>display if true</h1>
</div>

<ng-template #displayInfo>
    <div>
        <h1>display if false</h1>
    </div>
</ng-template>

<div [ngSwitch]="fruit">
    <h1 *ngSwitchCase="'orange'">selected fruit is orange</h1>
    <h1 *ngSwitchCase="'mango'">selected fruit is mango</h1>
    <h1 *ngSwitchCase="'jackfruit'">selected fruit is jackfruit</h1>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/reactiveForm">Reactive Form</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/form">Template Driven Form</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/user">User</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/first/mobile/',mobileName]">Mobile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/first/laptop">Laptop</a>
          </li>
          
          
        </ul>
       
      </div>
    </div>
  </nav>


  <router-outlet></router-outlet>

