<button (click)="getUsers()">UserList</button>

<!-- <table border="2" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td>{{user.first_name}}</td>
            <td><img [src]="user.avatar" alt=""></td>
        </tr>
    </tbody>
</table>

<button (click)="getData()">Click</button>

<table border="1" class="table1">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of dataList">
            <td>{{user.userId}}</td>
            <td>{{user.id}}</td>
            <td>{{user.title}}</td>
            <td>{{user.body}}</td>
            <td><button (click)="viewData(user.body)">View</button></td>
        </tr>
    </tbody>
</table> -->

<ag-grid-angular
   style="width: 100%; height: 100%"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="rowData"
   [rowSelection]="'multiple'"
   [animateRows]="true"
   [pagination]="true"
 ></ag-grid-angular>